<div id="<%= dom_id shopping_list %>">
  <p>
    <strong>Product:</strong>
    <%= shopping_list.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= shopping_list.quantity %>
  </p>

  <p>
    <strong>Net price:</strong>
    <%= shopping_list.net_price %>
  </p>

  <p>
    <strong>Gross price:</strong>
    <%= shopping_list.gross_price %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= shopping_list.date %>
  </p>

</div>
