<!DOCTYPE html>
<html>
  <head>
    <title>ShopOnline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <nav>
      <ul>
        <li><%= link_to "Produkty", products_path %></li>
        <li><%= link_to "Typy produktów", product_types_path %></li>
        <li><%= link_to "Kategorie", categories_path %></li>
        <li><%= link_to "Listy zakupów", shopping_lists_path %></li>
      </ul>
    </nav>

  </body>
</html>
